<?php
/**
 * DomusErpModule Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 *
 */

return [
    'domuserp_client' => [
        'host'     => '@host',
        'port'     => '@port',
        'username' => '@username',
        'password' => '@password'
    ],
];
